

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





@font-face {
    font-family: spacegrotesk;
    src: url(./assets/spacegrotesk.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main{
    min-height: 100vh;
    width: 100%;
    background-image: url(./assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4em 0;
}



.wthrcont{
    width: min(600px, 85vw);
    border-radius: 10px;
    background-color: #0000002a;
    color: #fff;
    outline: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wthrcont h1{
    text-align: center;
}


.wthrcont form{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}




.wthrcont input{
    height: 30px;
    border-radius: 13px;
    border: none;
    outline: none;
    width: 60%;
    flex-grow: 2;
    flex-shrink: 1;
    padding: 10px;
}








form button{
    padding: 10px 25px;
    background-color: #00000080;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 2;
    cursor: pointer;
}


form button:hover{
    background: #fff;
    color: #000;
}

form section{
    flex-grow: 1;
    flex-shrink: 2;
}


.wthr{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wthrcont section .outer{
    width: 60px;
    border-radius: 15px;
    height: 100%;
    background-color: #2a2525cf;
    position: relative;
    cursor: pointer;
}


.wthrcont section .inner{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #a924248b;
    position: absolute;
    display: flex;
    left: 3px;
    top: 3px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}



.wthrtoday{
    padding: 15px;
    display: flex;
    width: 95%;
    border-radius: 12px;
    flex-direction: column;
    margin: 1rem auto;
    text-align: center;
}

.nameanddate{
    text-align: center;
    font-weight: 600;
    font-family: spacegrotesk, sans-serif;
}

.Cityname{
    padding: 15px;
    font-size: 25px;
}

.nameanddate:nth-child(2){
    font-size: 23px;
}

.wthrholder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}



.infoholder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5em;
    text-align: center;
}


.infoholder .section{
    display: flex;
    flex-wrap: wrap;
}


.infoholder .section img{
    width: 25px;
    height: 25px;
}


.imageholder{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imageholder img{
    width: 200px;
    height: 200px;
}




.sectionholder{
    display: flex;
    gap: 20px;
}



.wthrhourly, .wthrweekly{
    padding: 15px;
    width: 95%;
    text-align: left;
    font-size: 20px;
    border-radius: 12px;
    margin: 0 auto;
}

.cardholder{
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;
    text-align: center;
}


.cardholder .card, .cardholder.imgholder{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card{
    background-color: #2a272798;
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
}

.cardholder .imgholder{
    align-items: center;
}

.imgholder img{
    width: 50px;
    height: 50px;
}


.cardholder .sectionholderforcard{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sectionholderforcard .section{
    display: flex;
}

.sectionholderforcard .section img{
    width: 20px;
    height: 20px;
}

.wthrweekly{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weeklydataholder{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weeklydataholder .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.weeklydataholder .card .imgholder{
    display: flex;
    align-items: center;
    gap: 5px;
}



.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #00000065;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loadingtext{
    font-size: 30px;
    font-weight: 500;
}




.hidden{
    display: none;
}


.errormsg{
    font-size: 1.5rem;
}



@media (max-width : 695px) {

    .main{
        background-position: left;
    }

    .infoholder{
        font-size: 1em;
    }


    .wthrhourly, .wthrweekly{
        font-size: 1em;
    }
    .weeklydataholder{
        flex-direction: row;
        overflow-x: scroll;
    }

    .weeklydataholder .card{
        flex-direction: column;
        text-align: center;
    }

    .weeklydataholder .card .imgholder{
        flex-direction: column;
    }

    .weeklydataholder .sectionholderforcard{
        display: flex;
        gap: 0.4em;
    }
}